.part-0 {
  background-color: blueviolet;
}

.part-1 {
  background-color: blue;
  
  /* background-color: rgb(207, 243, 123); */
  box-sizing: border-box;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.part-2 {
  background-color: black;
  
}
.part-3 {
  background-color: pink;
  
}
.part-3 {
  background-color: greenyellow;
  
}
